<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'aboutus' %}">About Us</a>
    <a href="{% url 'page' 'Sample' %}">Sample</a>
    <a href="{% url 'page' 'Intro' %}">Intro</a>
    <a href="{% url 'count' 7 %}">Count</a>
    <a href="{% url 'contactus' %}">Contact Us</a>
    <a href="{% url 'contactform' %}">Contact Us Form</a>
    <a href="{% url 'createproduct' %}">Create Product</a>
    <a href="{% url 'retrieveproduct' %}">Retrieve Product</a>
    <a href="{% url 'page_list' %}">List Product</a>
    <a href="{% url 'page_visit' %}">Page Visit</a>
    <a href="{% url 'signup' %}">Signup</a>
    <a href="{% url 'login' %}">login</a>
    <a href="{% url 'logout' %}" >LogOut</a>
</nav>